* {
    margin: 0;
    top: 0;
}

.menu {
    max-width: auto;
    min-width: none;
}

section ul {
    background-color: #000000;
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1));
    color: #FFFFFF;
    display: flex;
    text-decoration: none;
    flex-wrap: wrap;
    justify-content:space-between;
}