* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

.fundo-img {
    width: 100%;
    background: linear-gradient(rgba(17, 17, 17, 0.4), rgba(20, 20, 20, 1)), url(/assets/img/fundo.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

.fundo-write {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
}

.btn {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;    
}

.btn button:hover {
    color: rgb(251, 255, 0);
    border: none;
}

.btn button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
}

.btn button:hover:before {
    width: 100%;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid #000000;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color:#000000;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: #000000;
    position: relative;
    text-decoration: none;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: #FF0000;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
	background:#ff0;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
}

.grid {
    box-sizing: border-box;
}

.grid .col {
    box-sizing: border-box;
    width: 33.33%;
    height: 200px;
    float: left;
    padding: 20px;
    
}

.grid .col-2 {
    box-sizing: border-box;
    width: 33.33%;
    height: 200px;
    float: left;
    padding: 20px;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.texto-piadas {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    
}

.fundo-bg {
    background: #8d8a5e;
}

.section-piadas {
    height: 85rem;
}

.back-to-topo {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background:#ffffff93;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#000000;
    transform: rotate(90deg);
    border: 0.1rem solid #FFFFFF;
}

.close-menu {
    display: none;
}

@media (max-width: 1440px) {
    .menu {
        bottom: 0;
    }

    .menu-content {
        height: 10vh;  
        background: #FFFFFF;
    }

    .menu-content, .menu-content ul {
        flex-direction:row;
        justify-content:flex-start;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 1rem;
        right: 1rem;
        background-color: 0.1rem solid #FFFFFF;
        color: #000000;
        font-size: 2rem;
        line-height: 2rem;
        width: 2rem;
        height: 2rem;
        text-align:center;
        padding: 0.1rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;
        content: '×';
    }
}

@media (max-width: 768px) {
    .grid .col {
        width: 50%;
        background: #FFFFFF;
    }
    .grid .col-2 {
        width: 50%;
        background:#8d8a5e;
    }
    .btn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 568px) {
    .grid .col {
        width: 100%;
    }
    .grid .col-2 {
        width: 100%;
    }
    .grid .fundo-white {
        background:#FFFFFF;
    }
    .grid .fundo-beige {
        background:#8d8a5e;
    }
}