* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    padding-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000000;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    font-size: 1.3rem;
    color: #FFFFFF;
    position: relative;
}

.menu ul li a:hover {
    background: rgba(253, 253, 253, 0.637);
}

.grid {
    box-sizing: border-box;
    padding: 20px;
}

.grid .col {
    box-sizing: border-box;
    width: 33.33%;
    height: 200px;
    float: left;
    padding: 20px;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.texto-piadas {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    
}

#fundo-bg {
    background: #8d8a5e;
}

.section-piadas {
    height: 85rem;
  }

.linha {
    width: 100%;
    height: 63.19px;
    background: #FFFFFF;
  }

@media (max-width: 768px) {
    .grid .col {
        width: 50%;
    }

    .section-piadas {
        height: 119.688rem;
      }
    
}

@media (max-width: 568px) {
    .grid .col {
        width: 100%;
    }

    .section-piadas {
        height: 230.938rem;
      }
}